<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Io</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Hello world</h1>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti consectetur unde blanditiis
        quaerat? Mollitia, dignissimos. Inventore sunt unde sapiente eveniet animi hic ad cum quis perferendis numquam!
        Totam perferendis aliquid alias harum excepturi quas, asperiores officiis eos tempora temporibus iure neque cum
        ex rem labore eius doloremque possimus voluptatem ipsa?</p>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>

</html>